
#-------------------------
# Composer
#-------------------------
vendor/
composer.lock
cs_fixer*


#-------------------------
# # Jetbrains editors (PHPStorm, etc)
#-------------------------
.idea/

api/
docs/build/
